src/main/resources/localTime.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jakub.bebenista/szkolenie/soap">
    <xs:element name="getLocalTimeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="timezone" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocalTimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="localtime" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>